<h1>New Article</h1>

<%= render 'shared/errors' %>
<div class ="mt-5">
    <% if @article.errors.any? %>
    <h2>This are the errors that prevented the article from being created</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg|%>
        
            <li  class="alert alert-danger" role="alert" ><%=msg%></li>
            
        <%end%>
    </ul>
    <%end%>
</div>

<%= render 'form' %>