<% if obj.errors.any? %>
<h2>This are the errors that prevented the article from being created</h2>
 <ul>
    <% obj.errors.full_messages.each do |msg|%>
       
        <li  class="text-danger"><%=msg%></li>
        
    <%end%>
</ul>
<%end%>