<h1 class = "text-center">Create category</h1>

<div class="row">
      <div class ="col-md-12">
       <%= form_for( @category, :html => {class:"form-horizontal",role: "form"}) do |f|%>
         <div class="form-group row">
            <div class="control-label col-sm-1">
            <%= f.label :name, class: "col-sm-8 col-form-label" %>
            </div>
            <div class="col-sm-8">
            <%= f.text_field  :name ,class: "form-control", placeholder: "Enter category", autofocus: true  %>
            </div>
          </div>
        <%= f.submit %>
        <%end%>
      </div>
  </div>